:root{
    --hf-color: blue;
    --hf-text: white;
    --border: black;
}

header{
    background-color: var(--hf-color);
    color: var(--hf-text);
    border: solid var(--border);
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 8vh;
}
footer{
    background-color: var(--hf-color);
    color: var(--hf-text);
    border: solid var(--border);
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 8vh;
}

body{
    margin: 0;
}

.statement{
    margin: 2vh;
    font-size: 6vh;
}

.main-content{
    width: 55%;
    margin-left: 15vw;
}
.sidebar{
    width: 45%;
    margin: 8vh 8vw 0 4vw;
}
.d-flex{
    display: flex;
}